<% include ../partials/header.ejs%>

<div>
    <div>
        Welcome to musicApp
    </div>
    <div>
        know more about the best music in the world
        <a>let's get started</a>
    </div>
</div>
<div>
    <div>
        <ul>
            <li>
                <div>itunes icon</div>
            </li>
            <li>
                <div>albun icon</div>
            </li>
            <li>
                <div>artist</div>
            </li>
            <li>
                <div>albun´s name</div>
            </li>
            <li>
                <div>release data</div>
            </li>
            <li>
                <div>price</div>
            </li>
        </ul>
    </div>
</div>



<% include ../partials/footer.ejs%>