<% include ../partials/header.ejs%>

<div>
    <div>
        Welcome to musicApp
    </div>
    <div>
        know more about the best music in the world
        <a>let's get started</a>
    </div>
</div>
<div>
    <div>
        <%results.forEach(function(albums){%>
        <ul>
            <li>
                <div>itunes icon</div>
            </li>
            <li>
                <div>albun icon</div>
            </li>
            <li>
                <div><%=albums["im:artist"]["label"]%></div>
            </li>
            <li>
                <div><%=albums["im:name"]["label"]%></div>
            </li>
            <li>
                <div><%=albums["im:releaseDate"]["label"]%></div>
            </li>
            <li>
                <div><%=albums["im:price"]["label"]%></div>
            </li>
        </ul>
        <%})%>
    </div>
</div>



<% include ../partials/footer.ejs%>