<% include ../partials/header.ejs%>

<h1>
    
    titulo del album
    artista
</h1>

<p>imagen estilo carta del album</p>
<p>Lista de canciones.
    este es el id: <%=id%>
</p>



<% include ../partials/footer.ejs%>