<% include ../partials/header.ejs%>

<div class="allpage">
    <div class="row centro justify-content-center">
        <h1>profile page</h1>
    </div>
    
</div>

<% include ../partials/footer.ejs%>